{% extends 'default/index.html.twig' %}

{% block container %}
    {% if app.user.teamSpeakClients|length > 0 %}
        <form method="post">
        {% for client in app.user.teamSpeakClients %}
            <div class="row">
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon" id="characterID-{{ client.id }}-addon">characterID</span>
                        <input type="text" class="form-control" readonly disabled aria-describedby="characterID-{{ client.id }}-addon" value="{{ app.user.id }}">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon" id="uniqueID-{{ client.id }}-addon">uniqueID</span>
                        <input type="text" class="form-control" readonly disabled aria-describedby="uniqueID-{{ client.id }}-addon" value="{{ client.uniqueId }}">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <button class="btn btn-danger" name="delete" value="{{ client.id }}">{{ 'ts.remove_client'|trans }}</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </form>
    {% else %}
        <div class="alert alert-info" role="alert">{{ 'ts.no_clients_paired'|trans }}</div>
    {% endif %}
{% endblock %}