{% extends 'team-speak/server.html.twig' %}

{% block container_content %}
    <h2>{{ 'ts.pair_client'|trans }} <small>{{ 'ts.pair_desc'|trans }}</small></h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="characterID-addon">characterID</span>
                <input type="text" class="form-control" readonly disabled aria-describedby="characterID-addon" value="{{ app.user.id }}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="uniqueID-addon">uniqueID</span>
                <input type="text" class="form-control" readonly disabled aria-describedby="uniqueID-addon" value="{{ selected.client_unique_identifier }}">
            </div>
        </div>
    </div>

    {{ block('pair_form') }}

    <div class="bs-callout bs-callout-info">
        {{ 'ts.pair_groups'|trans }}
    </div>

    <ul class="list-group">
    {% for group in server.managedGroups %}
        {% set tsGroupGranted = tsGroupMatch(app.user, selected, group) %}
        <li class="list-group-item list-group-item-{{ tsGroupGranted ? 'success' : 'default' }}">
            <b>{{ ('tz7.membership_of.'~(tsGroupGranted?'granted':'not_granted'))|trans({'%group%': group.serverGroupName}) }}</b>
            {% if not tsGroupGranted %}
                <p>{{ 'tz7.membership_not_granted'|trans }}</p>
            {% endif %}
            {% for criterion in group.criteria.criteria %}
                {% set matched = tsCriterionMatch(app.user, selected, criterion) %}
                <div class="media">
                    <div class="media-left media-middle">
                        <span class="glyphicon glyphicon-{{ matched ? 'ok' : 'remove' }}" aria-hidden="true"></span>
                    </div>
                    <div class="media-body">
                        {{ ('tz7.criterion.' ~ criterion.matchType)|trans({
                            '%type%': criterion.comparisonType,
                            '%condition%': criterion|tsResolveCondition(app.user),
                            '%value%': criterion|resolveMatcher(app.user, selected)
                        }) }}
                    </div>
                </div>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

    {{ block('pair_form') }}
{% endblock %}

{% block pair_form %}
    <form method="post" class="form-horizontal" style="margin: 10px 0 30px 0;">
        {% if not exists %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'ts.pair_client'|trans }}</button>
        {% else %}
            <div class="bs-callout bs-callout-success">
                {{ 'ts.paired'|trans }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'ts.update_roles'|trans }}</button>
        {% endif %}
    </form>
{% endblock %}