{% extends 'default/index.html.twig' %}

{% block container %}
    <ul class="list-group">
    {% for server in servers %}
        <li class="list-group-item">
            <a href="{{ path('ts_server', {'server': server.id}) }}">{{ server.alias }}</a>
            ({{ server.host~':'~server.clientPort }})
        </li>
    {% endfor %}
    </ul>
{% endblock %}