{% extends 'default/index.html.twig' %}

{% block container %}
    <h1>{{ server.alias }} <small>TeamSpeak</small></h1>
    <p>
        Host: {{ server.host }}<br>
        Port: {{ server.clientPort }}
    </p>
    {% block container_content %}
        {% if userMatches|length > 0 %}
            <h2>{{ 'ts.select_your_client'|trans }}</h2>
            <ul class="list-group">
            {% for client in userMatches %}
                <li class="list-group-item">
                    <a href="{{ path('ts_pair', {'server': server.id, 'cdbid': client.property('client_database_id')}) }}">
                        {{ client }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{ 'ts.client_not_found_with_nick'|trans({'%nick%': app.user.username}) }}

            <a href="" class="btn btn-default btn-lg btn-block" data-auto-refresh="60" style="margin-top: 50px;">
                {{ 'ts.auto_refresh'|trans }}
                <span class="badge" data-counter>60</span>
            </a>
        {% endif %}
    {% endblock %}
{% endblock %}