{% block user_block %}
    {% if app.user %}
        {{ app.user }}

        - <a href="{{ url('sonata_user_admin_security_logout') }}">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a>
    {% endif %}
{% endblock %}
