<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}TZ-7{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output='static/bootstrap.css'
                'css/style.css'
                'css/bootstrap.min.css'
                'css/bootstrap-theme.min.css'
                'css/docs.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="well well-lg">
                {% block container %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts output='static/bootstrap.js'
                'js/jquery.min.js'
                'js/bootstrap.min.js'
                'js/app.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
