{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ "Toggle navigation"|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">TZ-7</a>
            </div>

            {# @TODO knp menu #}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('eve_api_key_crud_list') }}">{{ 'eve_api.list'|trans }}</a></li>
                            <li>
                                <a href="{{ path('eve_api_key_crud_create') }}">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    {{ 'eve_api.submit_key'|trans }}
                                </a>
                            </li>
                            <li><a href="http://api.hunreloaded.hu" target="_blank">RAXAPI (legacy)</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discord <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('discord_index') }}">{{ 'discord.server_list'|trans }}</a></li>
                            <li><a href="{{ path('discord_help') }}">{{ 'discord.help.title'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TeamSpeak <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('ts_select') }}">{{ 'ts.pair_client'|trans }}</a></li>
                            <li><a href="{{ path('ts_clients') }}">{{ 'ts.my_clients'|trans }}</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if app.user and is_granted('ROLE_USER') %}
                        <li class="dropdown impersonating">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ "logout"|trans({},'UserBundle') }}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {{ parent() }}
{% endblock %}

{% block container %}

    <div class="row app-list">
        <div class="app col-md-4 text-center">
            <a href="{{ path('ts_select') }}">
                <img src="{{ asset('images/teamspeak_small.png') }}" style="width: 100%; height: auto;"><br>
                TeamSpeak
            </a>
        </div>
        <div class="app col-md-4 text-center">
            <a href="{{ path('discord_index') }}">
                <img src="{{ asset('images/discord_small.png') }}" style="width: 100%; height: auto;"><br>
                Discord
            </a>
        </div>
        <div class="app col-md-4 text-center">
            <a href="{{ path('eve_api_key_crud_list') }}">
                <img src="{{ asset('images/api_small.png') }}" style="width: 100%; height: auto;"><br>
                {{ 'eve_api.list'|trans }}
            </a>
        </div>
    </div>

{% endblock %}