{% extends 'default/index.html.twig' %}

{% block container %}
    <h1>{{ 'discord.help.title'|trans }}</h1>

    <div class="panel panel-info">
        <div class="panel-heading">{{ 'discord.help.primate_messages_title'|trans }}</div>
        <div class="panel-body">
            {{ 'discord.help.private_messages_description'|trans|raw }}
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">{{ 'discord.help.mentions_title'|trans }}</div>
        <div class="panel-body">
            {{ 'discord.help.mentions_description'|trans|raw }}
        </div>
    </div>

    <div class="bs-callout bs-callout-info">
        {{ 'discord.help.install_apps'|trans }}
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">{{ 'discord.help.notifications_title'|trans }}</div>
        <div class="panel-body">
            {{ 'discord.help.notifications_description'|trans|raw }}
            <div class="bs-callout bs-callout-danger">
                {{ 'discord.help.notifications_hint'|trans|raw }}
            </div>
        </div>
    </div>
{% endblock %}