{% extends 'default/index.html.twig' %}

{% block container %}
    <h1>{{ 'discord.server_list'|trans }}</h1>

    <div class="bs-callout bs-callout-info">
        <a href="{{ path('discord_help') }}">&gt;&gt;&gt;{{ 'discord.help.title'|trans }}</a>
    </div>

    {% for access in auth %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ access.bot }}</div>
            <div class="panel-body">
                <p>
                    {{ 'discord.autorization_process'|trans({
                        '%username%': access.token.character.name,
                        '%invite_link%': access.bot.inviteLink,
                        '%bot_name%': access.bot.botName,
                        '%auth%': '!auth ' ~ access.token.authToken
                    })|raw }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}