{% extends 'base.html.twig' %}

{% block container %}
    <div class="sso-login">
        <h1>TZ-7</h1>
        <a href="{{ hwi_oauth_login_url("eve_online") }}">
            <img src="{{ asset('images/EVE_SSO_Login_Buttons_Small_White.png') }}" />
        </a>
    </div>
{% endblock %}
